fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
alembic
pyodbc
passlib[bcrypt]
bcrypt==4.0.1
PyJWT
email-validator
python-multipart
pypdf
azure-storage-blob
python-dotenv
azure-ai-documentintelligence
openai
azure-search-documents
azure-identity
azure-keyvault-secrets
azure-monitor-opentelemetry
tenacity
markdown
weasyprint
python-docx
PyYAML
